@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #34D399;
}

body {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}


header {
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
}

header h1 {
  text-align: initial;
}

nav {
  text-align: right;
  color: #fff;
}

nav > a {
  padding: 0 0.5rem;
}


main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}

.input-label {
  font-size: larger;
  color: var(--primary-color);
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
}

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

.footer-h {
  font-size: large;
  text-align: center;
  padding: 1rem;
  
}

.footer-list {
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0.5rem;
}
